.dashboard {
  display: flex;
  background-color: var(--default-background);
  min-height: 100vh;
  flex-direction: column;
}

.sidebar {
  background-color: var(--sidebar-background);
  padding: calc(var(--default-spacing) * 2) var(--default-spacing);
  border-right: 1px solid #e5e5e5;
}

.main {
  flex-grow: 1;
}

.main-header {
  width: 100%;
  background: var(--sidebar-background);
  padding: calc(var(--default-spacing) * 2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  padding: calc(var(--default-spacing) * 2);
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: var(--default-spacing);
}

.actions-container {
  margin-top: var(--default-spacing);
}

@media screen and (min-width: 769px) {
  .dashboard {
    flex-direction: row;
  }

  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-header {
    flex-direction: row;
  }

  .actions-container {
    margin-top: 0;
  }
}
